[Unit]
Description=wt-mapbox
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/pvn/services/wt.extra/build/wt.extra/mapbox --http-address=0.0.0.0 --http-port=9000 \
--docroot=/home/pvn/services/wt.extra/build/wt.extra/ \
-c /home/pvn/services/wt.extra/install/wt/etc/wt/wt_config_leaflet.xml 
WorkingDirectory=/home/pvn/services/wt.extra/build/wt.extra/
User=pvn

[Install]
WantedBy=multi-user.target
